In [31]:
import numpy as np
from math import sqrt
from scipy import stats
import pandas as pd

In [32]:
np.random.seed(0)

# Sukuriame "populiaciją"
populiacija = np.random.randint(1, 11, size=100)
tikras_vidurkis = populiacija.mean()
print("Populiacijos tikras vidurkis:", tikras_vidurkis)

Populiacijos tikras vidurkis: 5.33

In [33]:
# Imame imtį (20 atsitiktinių)
imties_dydis = 20
imtis = np.random.choice(populiacija, size=imties_dydis, replace=False)
imties_vidurkis = imtis.mean()
imties_nuokrypis = imtis.std(ddof=1)

print("Imties vidurkis:", round(imties_vidurkis, 3))

Imties vidurkis: 5.75

In [34]:
# --- Hipotezės tikrinimas ---
# H0: vidurkis = 6
# H1: vidurkis ≠ 6
t_statistika, p_reiksme = stats.ttest_1samp(imtis, popmean=6)

print("\\nHipotezių testavimas (ar μ=6?)")
print("t statistika:", round(t_statistika,3))
print("p reikšmė:", round(p_reiksme,4))

\nHipotezių testavimas (ar μ=6?)
t statistika: -0.398
p reikšmė: 0.6949

In [35]:
if p_reiksme < 0.05:
    print("Išvada: atmetame H0 (vidurkis greičiausiai ≠ 6)")
else:
    print("Išvada: nėra pagrindo atmesti H0 (vidurkis galėtų būti 6)")

# --- Pasikliautinasis intervalas ---
standartine_paklaida = imties_nuokrypis / sqrt(imties_dydis)
t_reikšmė = stats.t.ppf(1-0.05/2, df=imties_dydis-1)
apatine_riba = imties_vidurkis - t_reikšmė*standartine_paklaida
virsutine_riba = imties_vidurkis + t_reikšmė*standartine_paklaida

print("\\n95% pasikliautinasis intervalas: [", round(apatine_riba,3), ";", round(virsutine_riba,3), "]")
print("Ar tikras populiacijos vidurkis patenka į intervalą?", apatine_riba <= tikras_vidurkis <= virsutine_riba)

Išvada: nėra pagrindo atmesti H0 (vidurkis galėtų būti 6)
\n95% pasikliautinasis intervalas: [ 4.436 ; 7.064 ]
Ar tikras populiacijos vidurkis patenka į intervalą? True

---

In [36]:
np.random.seed(1)

n = 60
studentai = pd.DataFrame({
    "id": np.arange(1, n+1),
    "lytis": np.random.choice(["Vyras","Moteris"], size=n),
    "fakultetas": np.random.choice(["Informatika","Ekonomika","Psichologija"], size=n),
    "pazymys": np.clip(np.random.normal(8, 0.7, size=n), 4, 10),
    "dirba": np.random.choice(["Taip","Ne"], size=n, p=[0.6,0.4]),
    "amzius": np.random.randint(18, 30, size=n)
})

studentai.head()

   id    lytis    fakultetas   pazymys dirba  amzius
0   1  Moteris  Psichologija  7.200237  Taip      29
1   2  Moteris  Psichologija  7.755460    Ne      20
2   3    Vyras     Ekonomika  7.853774  Taip      24
3   4    Vyras     Ekonomika  8.410636  Taip      29
4   5  Moteris     Ekonomika  8.587288    Ne      18

In [ ]:
# 1) Vienos imties t-testas: ar μ = 10?

In [ ]:
# 2) Dviejų nepriklausomų imčių t-testas: Vyras vs Moteris

In [ ]:
# 3) ANOVA: Informatika vs Ekonomika vs Psichologija
# H0 Visų trijų fakultetų studentų pažymių vidurkiai yra vienodi.

In [ ]:
# 4) Chi-kvadrato nepriklausomumas: lytis × dirba
# Lytis ir darbo statusas nepriklauso vienas nuo kito H0