# Pandas pamoka: pagrindai su studentų duomenimis

Šiame notebuke mokysimės naudotis `pandas` ir `DataFrame` struktūra su paprastu studentų duomenų rinkiniu.

## 1. Duomenų įkėlimas ir peržiūra

In [ ]:
import pandas as pd

# Įkeliame CSV failą
df = pd.read_csv('studentai_pandas_pamoka.csv')
df.head()

## 2. Informacijos suvestinė ir aprašomoji statistika

In [ ]:
df.info()

In [ ]:
df.describe()

## 3. Stulpelių pasirinkimas

In [ ]:
# Tik vardai ir pažymiai
df[['Vardas', 'Pažymys']].head()

## 4. Filtravimas (pvz., tik 2 kurso studentai)

In [ ]:
df[df['Kursas'] == 2]

## 5. Rikiavimas pagal pažymį (nuo aukščiausio)

In [ ]:
df.sort_values(by='Pažymys', ascending=False)

## 6. Grupavimas: vidutinis pažymys pagal kursą

In [ ]:
df.groupby('Kursas')['Pažymys'].mean()

## 7. Naujo stulpelio kūrimas (pvz., ar išlaikė)

In [ ]:
df['Išlaikė'] = df['Pažymys'] >= 5
df.head()

## 8. Indeksavimas su `.loc` ir `.iloc`

In [ ]:
# Pagal indeksą
df.iloc[0]  # pirmas studentas

In [ ]:
# Pagal reikšmes
df.loc[df['Vardas'] == 'Studentas_3']